.main-content{
	padding: 50px 0px;
}

.main-title {
	color: var(--color-gray-400);
}

.box-khoiluong{
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
}

.box-khoiluong p{
	color: var(--color-gray-400);
}

.box-khoiluong > div{
	width: 19.2%;
	background-color: #f0f0f0;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 130px;
	cursor: pointer;
}
.box-khoiluong > div:hover{
	background-color: #74b9ff;
}
.box-khoiluong > div.active{
	background-color: #1e3799;
}
.box-khoiluong > div.active p{
	color: #fff;
}
.box-khoiluong > div.active img{
	filter: brightness(5);
}
.box-khoiluong > div p{
	margin-bottom: 0px;
}
.box-khoiluong > div img{
	display: block;
	margin: auto;
	margin-bottom: 15px;
}
.form-tracuu{
	background: #f0f0f0;
	border-radius: 5px;
	padding: 20px 20px 20px 20px;
}
.form-tracuu .form-group{
	padding: 10px 20px;
	display: block;
	margin-bottom: 10px;
}
.form-tracuu .form-group label{
	display: block;
	color: var(--color-gray-400);
}
.form-tracuu .form-group select{
	width: 100%;
	max-width: 100%;
}
.form-tracuu .select2-container--default .select2-selection--single{
	border-radius: 0px;
	border: 1px solid #ccc;
	height: 40px;
	border-radius: 0px;
}

.form-tracuu .select2-container--default .select2-selection--single .select2-selection__rendered{
	line-height: 40px;
}
.form-tracuu .select2-container--default .select2-selection--single .select2-selection__arrow{
	height: 40px;
}
.form-tracuu .form-group input[type="number"] {
	border-radius: 0px;
	border: 1px solid #ccc;
	height: 40px;
	border-radius: 5px;
	width: 100%;
	padding-left: 10px;
}
.form-tracuu .form-group input[type="text"] {
	border-radius: 0px;
	border: 1px solid #ccc;
	height: 40px;
	border-radius: 5px;
	width: 100%;
	padding-left: 10px;
}
.form-tracuu button.btn-tracuu{
    width: 100%;
    height: 50px;
    background-color: #1e3799;
    border: none;
    color: #fff;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;
	border-radius: 5px;
}
.form-tracuu button.btn-tracuu:hover{
	opacity: 0.8;
	transition: all 0.3s ease;
}
.box-results table{
	margin-bottom: 40px;
	background-color: #f9f9f9;
	font-size: 15px;
}

.form-tracuu .form-group textarea {
	  width: 100%;
      padding: 5px;
      margin-top: 5px;
      border-radius: 8px;
      border: 1px solid #ccc;
      font-size: 16px;
}